*.out
*.log
.DS_Store
target
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.orig
*~
build/*
build/*.jar
build/*.zip
build/*.tgz
build/tmp
build/atlas/
build/debug/
build/resolver/
build/local/
build/confirmations/
build/themis/
*.swp
*tags*
.floo*
*.pyc
.ensime*
snapshots
templates/prod/*
templates/draft/*
scratchpad
regression-reference
resolver.log
resolver_*.log
/metrics/
artifactory_credentials
*.txt
*.html
.bloop/
.metals/
project/metals.sbt

